
table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
    height: 60px;
}

.youbi{
  height:30px;
}

.light {
  opacity: 0.3;
}

td:first-child {
    color: red;
}

td:last-child {
    color: royalblue;
}

.modal {
position: fixed;
z-index: 101;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);
text-align: center;
}

.modal img{
  width:300px;
  height: 300px;
  padding-top: 10px;
}

.modal-content{
background-color: white;
width: 800px;
/* position: fixed;
top:40%;
left:40%; */

position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  text-align: center;
}

#kbn {
  display:none;
}

#ren {
  display:none;
}

#tou {
  display:none;
}

#yuu {
  display:none;
}

/* btnのスタイル */
.btn-sticky {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #2E3740;
  color: #2E3740;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.btn-sticky:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}


/* hpの調整 */
#calendar {
  margin:0 auto;
}
#calendar h5{
  margin-top: 40px;
}

@media screen and (max-width: 760px){
  table {
    width:350px;
  }
  #btn_kbn {
    padding: 3px 3px;
  }
  .btn-sticky {
    border-left: solid 3px #2E3740;
    padding: 5px 10px;
  }
  .modal-content{
    width:350px;
  }
  .modal img{
    width:200px;
    height: 200px;
    padding-top: 10px;
  }
}
